@charset "utf-8";

.cont_main:after {height:0; content:""; clear:both; display:block;}
.cont_main .mcont {float:left; width:665px; margin-right:10px;}
.cont_main #mcont_nav {width:665px;}
.cont_main #mcont_nav ol {display:block; width:100%;}
.cont_main #mcont_nav ol li {float:left; width:3px;}
.cont_main #mcont_nav ol li a {display:inline-block; color:#fff; line-height:31px; width:100%; text-align:center; background:#000; font-family:"NanumGothicBold";}
.cont_main #mcont_nav ol li a:hover {background:#4aa7dd; text-decoration:none;}
.cont_main #mcont_nav ol li a.active {background:#4aa7dd; text-decoration:none;}

.cont_main dl.scont1 {float:left; margin:0 11px 0 2px;}
.cont_main dl.scont1 dd {margin-bottom:10px;}
.cont_main dl.scont1 dd.scont_box1 {min-height:304px;}
.cont_main dl.scont1 dd.scont_box2 {min-height:155px;}
.cont_main dl.scont2 {float:left;}
.cont_main dl.scont2 dd {margin-bottom:10px;}
.cont_main dl.scont2 dd.scont_box1 {min-height:304px;}
.cont_main dl.scont2 dd.scont_box2 {min-height:155px;}
.cont_product:after {height:0; content:""; clear:both; display:block;}
.cont_product .product_listbox1 {float:left; margin-right:9px;}
.cont_product .product_listbox1 ul.plist_area {display:block; position:relative;}
.cont_product .product_listbox1 ul.plist_area:after {height:0; content:""; clear:both; display:block;}
.cont_product .product_listbox1 ul.plist_area li {float:left;}
.cont_product .product_listbox1 ul.plist_area li a {display:inline-block; line-height:30px; color:#666666; text-align:center; font-family:"NanumGothicBold"; background:#f0f0f0; border-top:1px solid #bbb;}
.cont_product .product_listbox1 ul.plist_area li a.wpadding1 {width:164px; border-left:1px solid #bbb; border-bottom:1px solid #bbb;}
.cont_product .product_listbox1 ul.plist_area li a.wpadding2 {width:165px; border-bottom:1px solid #bbb;}
.cont_product .product_listbox1 ul.plist_area li a.wpadding3 {width:164px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
.cont_product .product_listbox1 ul.plist_area li a.wpadding1:hover {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}
.cont_product .product_listbox1 ul.plist_area li a.wpadding2:hover {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}
.cont_product .product_listbox1 ul.plist_area li a.wpadding3:hover {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}
.cont_product .product_listbox1 ul.plist_area li a.on {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}
.cont_product .product_listbox2 {float:left;}
.cont_product .product_listbox2 ul.plist_area {display:block; position:relative;}
.cont_product .product_listbox2 ul.plist_area:after {height:0; content:""; clear:both; display:block;}
.cont_product .product_listbox2 ul.plist_area li {float:left;}
.cont_product .product_listbox2 ul.plist_area li a {display:inline-block; line-height:30px; color:#666666; text-align:center; font-family:"NanumGothicBold"; background:#f0f0f0; border-top:1px solid #bbb;}
.cont_product .product_listbox2 ul.plist_area li a.wpadding1 {width:164px; border-left:1px solid #bbb; border-bottom:1px solid #bbb;}
.cont_product .product_listbox2 ul.plist_area li a.wpadding2 {width:165px; border-bottom:1px solid #bbb;}
.cont_product .product_listbox2 ul.plist_area li a.wpadding3 {width:164px; border-right:1px solid #bbb; border-bottom:1px solid #bbb;}
.cont_product .product_listbox2 ul.plist_area li a.wpadding1:hover {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}
.cont_product .product_listbox2 ul.plist_area li a.wpadding2:hover {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}
.cont_product .product_listbox2 ul.plist_area li a.wpadding3:hover {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}
.cont_product .product_listbox2 ul.plist_area li a.on {background:#fff; width:163px; border-top:1px solid #888888; border-left:1px solid #888888; border-right:1px solid #888888; border-bottom:1px solid #fff;}

.product_elist {width:493px; padding-top:20px; border-right:1px solid #bbbbbb; border-left:1px solid #bbbbbb; border-bottom:1px solid #bbb;}
.product_elist p.tit_loc {text-align:right; margin:0 25px 20px 0; padding-top:20px;}
.product_elist p.tit_loc span {display:inline-block; padding:0 10px;}
.product_elist p.tit_loc span.loc_text1 {color:#888888;}
.product_elist p.tit_loc span.loc_text2 {border-left:1px solid #888888; font-family:"NanumGothicBold";}
.product_elist ul.pro_list:after {height:0; content:""; clear:both; display:block;}
.product_elist ul.pro_list li {float:left; margin:0 0 20px 32px;}
.product_elist ul.pro_list li a {color:#666666;}
.product_elist ul.pro_list li dl.list_product dd {font-size:9px; text-align:right; font-family:"NanumGothicBold"; line-height:12px;}
.product_elist ul.pro_list li dl.list_product dd strong.textline {text-decoration:line-through;}
.product_elist ul.pro_list li dl.list_product dd span {color:#c81c1c; text-decoration:none;}
.product_elist ul.pro_list li dl.list_product dd img {border:1px solid #bbbbbb;}
.cont_banner {margin-top:20px;}
.cont_banner a {display:inline-block; border:1px solid #bbbbbb;}
.cont_banner a.marginright {margin-right:4px;}
.cont_bottom { margin-top:20px; border:1px solid #bbbbbb;}
.cont_bottom dl.cont_botbox1 {display:block; padding:18px; border-bottom:1px solid #bbbbbb;}
.cont_bottom dl.cont_botbox1:after {height:0; content:""; clear:both; display:block;}
.cont_bottom dl.cont_botbox1 dt {float:left; font-size:16px; font-family:"NanumGothicBold";}
.cont_bottom dl.cont_botbox1 dt span {display:block; margin:5px 0; font-size:16px; color:#cdcdcd; }
.cont_bottom dl.cont_botbox1 dd {float:left; margin-left:158px;}
.cont_bottom dl.cont_botbox1 dd a.mart {margin-right:90px;}
.cont_bottom dl.cont_botbox2 {display:block; padding:12px 18px;}
.cont_bottom dl.cont_botbox2:after {height:0; content:""; clear:both; display:block;}
.cont_bottom dl.cont_botbox2 dt {float:left; font-size:16px; font-family:"NanumGothicBold"; margin-top:8px;}
.cont_bottom dl.cont_botbox2 dt span.textbox1 {display:block; margin:6px 0; font-size:12px; color:#cdcdcd; line-height:18px;}
.cont_bottom dl.cont_botbox2 dt span.textbox2 {display:block; font-size:12px;}
.cont_bottom dl.cont_botbox2 dd {float:left; margin-left:23px;}
.cont_bottom dl.cont_botbox2 dd a.mart {margin-right:20px;}
.cont_notice:after {height:0; content:""; clear:both; display:block;}
.cont_notice dl.notice_box {padding:18px 18px 0 18px; float:left;}
.cont_notice dl.notice_box dt.notice_tit {background:url('../images/common/loc_bullet.gif') no-repeat center right; width:220px; font-size:16px; font-family:"NanumGothicBold"; }
.cont_notice dl.notice_box dd {margin-top:16px;}
.cont_notice dl.notice_box dd a.noticeblet {display:block; background:url('../images/common/notice_bullet.gif') no-repeat center left; width:190px; line-height:22px; 
padding-left:30px; color:#3f3f3f; font-family:"NanumGothicBold";}
.cont_notice span.icon_box {display:inline-block; padding:18px 0 0 0; margin-left:45px;}
.cont_notice span.icon_box a.icon_malign {margin-right:80px;}
